.settings {
    background-color: #FCFCFC;
    min-height: 100%;
    overflow-x: hidden;
}

.settings_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.settings_header-left {
    height: 136px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings_header-left > .MuiSvgIcon-root {
    width: 48px;
    height: 48px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 4px;
    background-color: #fff;
}

.settings_accountInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 10px;
    margin: 0 24px;
    padding: 16px;
}

.settings_accountInfo > input {
    height: 54px;
    width: 100%;
    margin: 8px;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    background-color: lightgray;
}

.export-link {
    text-align: center;
    width: 100%;
    margin: 16px 0;
    padding-top: 12px;
    color: #7FA1E8;
    font-weight: bold;
}

.settings_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;
}

.settings-signOutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 16px;
    width: 80%;
    border: none;
    outline: none;
    background-color: #7FA1E8;
    color: #fff;
    border-radius: 80px;
    margin-top: 16px;
    font-weight: bold;
}

.settings_toggles {
    display: flex;
    flex-direction: column;
}

.settings_toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    margin: 12px 24px;
    padding: 16px;
    border-radius: 10px;
}

.settings_toggle-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_toggle-text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
    line-height: 1;
}

.settings-name {
    font-size: 12px;
    font-weight: bold;
    color: #CCC
}