.calendar-button {
    position: fixed;
    bottom: 130px;
    right: 0;
    height: 60px;
    width: 60px;
    margin: 12px;
    padding: 12px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.calendar-button > .MuiSvgIcon-root {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    color: #7FA1E8;
}