.graph-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.graph_buttons {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;
  margin: 0 auto;
  width: 100vw;
}

.graph_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  margin: 0 8px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  color: #c9d5e9;
  font-weight: bold;
  font-size: 12px;
  /* drop shadow on bottom */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active {
  background-color: #7FA1E8;
}

.active > .MuiSvgIcon-root {
  color: #f5f5f5 !important;
}

.graph_button > .MuiSvgIcon-root {
  margin: 0 8px;
  height: 40px;
  width: 40px;
  color: #7FA1E8;
}

.graph_week-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  margin-bottom: -24px;
  background-color: #f5f5f5;
  z-index: 999;
}

.graph_week-title {
  font-size: 24px;
}

.graph_week-dates {
  font-size: 14px;
  color: #c9d5e9
}

.graph_time-selection {
  margin-top: 16px;
  margin-bottom: 16px;
}
.graph_time-button--left {
  padding: 16px;
  border-radius: 20px 0 0 20px;
  background-color: #f5f5f5;
  border: 1px solid #c9d5e9;
  border-right: none;
}

.graph_time-button--right {
  padding: 16px;
  border-radius: 0 20px 20px 0;
  background-color: #f5f5f5;
  border: 1px solid #c9d5e9;
  border-left: none;
}

.graph_time-button--left.active {
  background-color: #7FA1E8;
  color: #f5f5f5;
  border-color: #7FA1E8;
  border-right: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.graph_time-button--right.active {
  background-color: #7FA1E8;
  color: #f5f5f5;
  border-color: #7FA1E8;
  border-left: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.graph-section-score {
  margin-top: 12px;
  margin-bottom: 60px;
  margin-left: 16px;
}

.graph-section-score-title {
  font-size: 32px;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 0.9;
  margin-left: 16px;
}

.graph-section-score-percent {
  color: #51c5bd; 
  vertical-align: bottom;
  font-size: 12px;
  margin-left: -4px;
}

.graph-section-score-percent > .MuiSvgIcon-root{
  vertical-align: bottom;
  height: 16px;
}

.graph-section-score-message {
  color: #c9d5e9;
}
