@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

/* Mobile Styles */
@media only screen and (max-width: 767px) {
  /* Put your styles for mobile screens here */
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Put your styles for tablet screens here */
}

/* Desktop Styles */
@media only screen and (min-width: 992px) {
  /* Put your styles for desktop screens here */
}